flows.json
[{"id":"6f9419d0.e4ab08","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4ceaceb6.926fe","type":"serial in","z":"6f9419d0.e4ab08","name":"UnoPort","serial":"ae12554d.6e3f28","x":150,"y":180,"wires":[["54e54eda.e45b9"]]},{"id":"54e54eda.e45b9","type":"function","z":"6f9419d0.e4ab08","name":"ToString","func":"var outputMsgs = [];\nvar values = msg.payload.trim().split(\",\");\nfor(var v in values) {\n    outputMsgs.push({payload:values[v]})\n}\nreturn outputMsgs;","outputs":5,"noerr":0,"initialize":"","finalize":"","x":370,"y":180,"wires":[["fff4b7cf.f682a8"],["39a88926.38a276"],["f3c8e06b.35b26"],["ab5fd8c2.d44928"],["2141f4f4.8c7e7c"]]},{"id":"fff4b7cf.f682a8","type":"ui_gauge","z":"6f9419d0.e4ab08","name":"","group":"b29231b9.61ecd","order":0,"width":0,"height":0,"gtype":"gage","title":"Ultrasonic Sensor","label":"units","format":"{{value}}","min":0,"max":"35","colors":["#00f900","#e6e600","#ff2600"],"seg1":"","seg2":"","x":630,"y":80,"wires":[]},{"id":"39a88926.38a276","type":"ui_chart","z":"6f9419d0.e4ab08","name":"","group":"b29231b9.61ecd","order":1,"width":0,"height":0,"label":"Soil Moisture Sensor","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":640,"y":120,"wires":[[]]},{"id":"f3c8e06b.35b26","type":"ui_text","z":"6f9419d0.e4ab08","group":"b29231b9.61ecd","order":2,"width":0,"height":0,"name":"","label":"Humidity from DHT11 Sensor","format":"{{msg.payload}}","layout":"row-spread","x":670,"y":160,"wires":[]},{"id":"ab5fd8c2.d44928","type":"ui_chart","z":"6f9419d0.e4ab08","name":"","group":"b29231b9.61ecd","order":3,"width":0,"height":0,"label":"Temp from DHT11 Sensor","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":650,"y":200,"wires":[[]]},{"id":"2141f4f4.8c7e7c","type":"ui_text","z":"6f9419d0.e4ab08","group":"b29231b9.61ecd","order":4,"width":0,"height":0,"name":"","label":"Heat Index from DHT11 Sensor","format":"{{msg.payload}}","layout":"row-spread","x":670,"y":240,"wires":[]},{"id":"ae12554d.6e3f28","type":"serial-port","serialport":"/dev/tty.usbmodem14201","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"b29231b9.61ecd","type":"ui_group","name":"Default","tab":"488135ce.5a589c","order":1,"disp":true,"width":"6","collapse":false},{"id":"488135ce.5a589c","type":"ui_tab","name":"Water Level","icon":"dashboard","disabled":false,"hidden":false}]